.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 85%;
    text-align: center;
    overflow-y: auto;
}

.modal-content.small {
    display: flex;
    width: 50%;
    height: 50%;
}

.modal-content.medium {
    display: flex;
    width: 75%;
    height: 75%;
}

.modal-content.large {
    display: flex;
    width: 90%;
    height: 85%;
}

.modal-content-body {
    display: inherit;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.modal-close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}