@charset "UTF-8";

.main-navigation-bar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.main-navigation-bar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.main-navigation-bar a:hover {
    background-color: #575757;
}

.main-navigation-bar a.active {
    background-color: #4CAF50;
}
